body{
    flex-grow:1;
    align-items: center ;
    gap: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    line-height:2;
    justify-content: center;
}
.head{
    border-radius: 0.5em;
    border: 2px solid rgb(19, 140, 220);
    background-color:  #1e90ff;
    text-align: start;
    padding: 20px;
    width: 40em;
}
.main{
    border-radius: 0.5em;
    border: 2px solid rgb(19, 220, 86);
    background-color:#3cb371 ;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-start;
    
}
.iteam{
    text-align: start;
    margin-top: 2em;
    width: 5px;
    height:4px;
    padding: 3em;
    background-color: #2f8d59;
    border-radius: 0.5em;
}    
.mainside{
    gap: 1em;
    display: flex;
    flex-direction: row;
}
.side{
    background-color: #ff6347;
    border-radius: 0.5em;
    width: 160px;
    text-align: center;
}
.foot{
    border-radius: 0.5em;
    background-color:#4169e1 ;
    padding: 20px;
    width: 40em;
}